@charset "UTF-8";
/* CSS Document */

body, html{
	margin: 0;
	padding: 0;
}

#pure_white{
	background-color: #F7F7F7;
	overflow-x: hidden; 
    overflow-y: hidden;
}

body{
	background-color: #F2F2F2;
}

#canvasHolder{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	z-index: -1;
	display: block;
}
/*nav bar*/
.nav{
	list-style-type: none;
	width: 75%;
	overflow: hidden;
	margin: 50px auto;
}

.navlist{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	color: #666666;
}

.navlist_white{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	color: #F2F2F2;
}

.navlist_white:hover{
	color: white;
	cursor: pointer;
}

.navlist:hover{
	color: #000000;
	cursor: pointer;
}

#listpage{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	color: #0F0F0F;
	cursor: pointer;
}

#listpage_white{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	cursor: pointer;
}

.log{
	font-family: 'Covered By Your Grace', cursive;
	font-size: 30px;
	color: #4c4c4c;
	display: inline-block;
	padding: 5px 0;
	cursor: pointer;
}

.log_white{
	font-family: 'Covered By Your Grace', cursive;
	font-size: 30px;
	color: #F2F2F2;
	display: inline-block;
	padding: 5px 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

.bottomnav{
	width: 40%;
	margin: auto;
	text-align: center;
}

.navlistbottom{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	color: #666666;
}

.navlistbottom:hover{
	color: #000000;
	cursor: pointer;
}

/* content box*/

.projectback{
	height: 400px;
	width: 98%;
	margin: auto;
	background-image: url(../pic/plan1440.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.projectbtn{
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.3);
	width: 300px;
	height: 200px;
	border-radius: 15px;
	background-image: url(../pic/greatroom.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:right;
	margin-left: 0;
	transition: 0.5s;
}

.projectbtn:hover{
    animation: moveupdown 1s;
	box-shadow: 0 8px 12px 0px rgba(0, 0, 0, 0.3);
    animation-fill-mode: forwards;
}

@keyframes moveupdown {
  45% {
	transform:perspective(5em) rotateY(2deg);
  }
  80% {
 	transform:perspective(5em) rotateY(-0.5deg);
  }
 /* 80% {
 	transform:perspective(5em) rotateY(0.5deg);
  }
  90% {
 	transform:perspective(5em) rotateY(-0.5deg);
  }*/
  100% {
	transform:perspective(5em) rotateY(0deg);
  }
}

.btnntext{
	margin-left: 54%;
	padding-top: 90px;
	width: 300px;
	transition: 0.5s;
}

.btnntext:hover{
	transform: translate(0, -15px);
	cursor: pointer;
}

.projectdes{
	padding: 0;
	margin: 0;
    font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	transform: translate(-70px,153px);
	color: #303030;
}

.projectdes::after{
	content: "#service design #interior design";
	font-size: 12px;
}

/*last supper*/

.title, .title1{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 800;
	height: 28px;
	color: #333333;
}

.title{
	margin-top: 150px;
}

.title1{
	margin-top: 0;
	padding-top: 0;
	font-style: italic;
	padding-bottom: 38px;
}

.intro, .intro1, .intro2{
    font-family: 'Inconsolata', monospace;
	color: #333333;
	font-weight: 400;
	font-size: 16px;
	width: 330px;
	line-height: 1.2rem;
	margin: 10px auto;
	
}

.intro1{
	border-top: 1px solid #666666;
	padding-top: 20px;
}

.line{
	width: 60%;
	border-top: 1px solid #999999;
	margin: 100px auto;
}

h2{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	text-align: center;
}

.subtitle, .subtitle1{
    font-family: 'Inconsolata', monospace;
	color: #333333;
	margin: 0 20%;
}

.subtitle1{
    border-bottom: 1px solid #666666;
	width: 350px;
	padding-bottom: 2px;
	margin-bottom: 20px;
}

.tleft{
	font-family: 'Inconsolata', monospace;
	color: #333333;
	width: 30%;
	min-width: 300px;
	padding: 0;
	line-height: 1.2rem;
	display: inline-block;
}

/* online research damage*/
.normalbox{
	margin: auto;
	width: 60%;
	min-width: 800px;
}

.ilbox{
	margin-left: 0;
	margin-right: 0;
	width: 30%;
	min-width: 300px;
	display: inline-block;
}

.imgr{
	width: inherit;
}

.cent{
	width: inherit;
	padding-bottom: 20px;
	font-family: 'Inconsolata', monospace;
	color: #333333;
	display: inline-block;
	text-align: center;
}

.picr{
	width: 400px;
	margin: auto;
	margin-top: 30px;
	float: right;
	display: inline-block;
}

/* quote*/
.picl{
	width: 360px;
	height: auto;
	border-right: 3px dashed #666666;
	display: inline-block;
}

.pink{
	margin: 20px 40px;
	padding: 0;
	width: 260px;
	box-shadow: 0 8px 12px 0px rgba(0, 0, 0, 0.3);
}

.pinkb{
	width: 340px;
	background-color: #f8e8e3;
	margin: 10px 0;
}

.quotebox{
	width: inherit;
}

.quote{
	font-family: 'Open Sans', sans-serif;
	color: #4C4C4C;
	text-align: center;
	font-size: 24px;
	margin: 60px auto 0 auto;
}

.intro2{
	text-align: center;
}

.space{
	width: 100%;
	height: 20px;
}

.quotebigbox{
	width: 400px;
	display: inline-block;
	float: right;
}

/*pic bloc*/
.normalbigbox{
	width: 80%;
	min-width: 800px;
	height: 90vh;
	min-height: 600px;
	margin: auto;
}

.pinktext1, .pinktext2, .pinktext3, .pinktext4, .pinktext5, .pinktext6, .pinktext7{
	font-family: 'Open Sans', sans-serif;
	color: #f8e8e3;
	font-weight: 400;
	font-size: 24px;
	line-height: 350px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	float: left;
}

#this{
	width: 23%;
	height: 48%;
	margin: 1%;
	float: left;
}

.pinktext1{
	margin: 1% 0;
	width: 100%;
	height: 47%;
	background-image: url(../pic/rteee.png)
}

.pinktext2{
	margin: 7.5% 0;
	width: 100%;
	height: 47%;
	background-image: url(../pic/00.jpg)
}

.pinktext3{
	margin: 1%;
	width: 23%;
	height: 48%;
	background-image: url(../pic/IMG_0371.jpg)
}

.pinktext4{
	margin: 1%;
	width: 48%;
	height: 48%;
	background-image: url(../pic/IMG_0370.jpg)
}

.pinktext5{
	margin: 1%;
	width: 48%;
	height: 48%;
	background-image: url(../pic/IMG_5138.jpg)
}

.pinktext6{
	margin: 1%;
	width: 23%;
	height: 48%;
	background-image: url(../pic/IMG_1322.JPG)
}

.pinktext7{
	margin: 1%;
	width: 23%;
	height: 48%;
	background-image: url(../pic/IMG_5225.jpg)
}

.normalbigbox1{
	width: 80%;
	min-width: 800px;
	min-height: 600px;
	margin: auto;
}

.somepic{
	width: 100%;
}

.normalboxsmall{
	width: 40%;
	min-width: 400px;
	margin: auto;
}

.intro3, .intro4{
	    font-family: 'Inconsolata', monospace;
	color: #333333;
	font-weight: 400;
	font-size: 16px;
	width: 400px;
	line-height: 1.2rem;
	margin: 10px auto;
}

.intro4{
	border-top: 1px solid #666666;
	padding-top: 20px;
}

#thispic{
	width: 62.5%;
	float: left;
}

#thispic2{
	width: 37.5%;
}

.normalpic{
	width: 100%;
}

.bigimgr{
	width: 400px;
	margin: auto;
	margin-top: 10px;
	float: right;
	display: inline-block;
}

.bigimgrr{
	width: 400px;
	height: 80%;
	margin: auto;
	display: inline-block;
	float: right;
}

.imgrr{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.bigimgl{
	width:400px;
	margin:auto;
	margin-top: 45px;
	display: inline-block;
	float: left;
}

.apppic{
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.normalbigbox2{
	width: 80%;
	min-width: 800px;
	margin: auto;
}

.bigimgrc{
	width: 400px;
	margin: auto;
	margin-top: 60px;
	float: right;
	display: inline-block;
}

.bigspace{
	width: 100%;
	height: 300px;
}

#normalboxcc{
	margin: auto;
	width: 60%;
	min-width: 800px;
	height: 750px;
}

#normalboxcd{
	margin: auto;
	width: 60%;
	min-width: 800px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.lastpicls{
	margin-left: 25%;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 50%;
	min-width: 400px;
}