@charset "UTF-8";
/* CSS Document */
body{
	background-color: #F2F2F2;
}
/*nav bar*/
.nav{
	list-style-type: none;
	width: 75%;
	overflow: hidden;
	margin: 50px auto;
}

.navlist{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	color: #666666;
}

.navlist:hover{
	color: #000000;
	cursor: pointer;
}

#listpage{
	margin-top: 12px;
	padding: 5px 15px;
	text-align: center;
	display: inline-block;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	color: #0F0F0F;
	cursor: pointer;
}

.log{
	font-family: 'Covered By Your Grace', cursive;
	font-size: 30px;
	color: #4c4c4c;
	display: inline-block;
	padding: 5px 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

/* content box*/

.projectback{
	height: 400px;
	width: 98%;
	background-image: url(../pic/plan800.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
}

.projectbtn{
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.3);
	width: 300px;
	height: 200px;
	border-radius: 15px;
	background-image: url(../pic/greatroom.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:right;
	margin-left: 54%;
	margin-top: 100px;
	transition: 0.5s;
}

.projectbtn:hover{
    animation: moveupdown 1s;
	box-shadow: 0 8px 12px 0px rgba(0, 0, 0, 0.3);
    animation-fill-mode: forwards;
}

@keyframes moveupdown {
  45% {
	transform:perspective(5em) rotateY(2deg);
  }
  80% {
 	transform:perspective(5em) rotateY(-0.5deg);
  }
 /* 80% {
 	transform:perspective(5em) rotateY(0.5deg);
  }
  90% {
 	transform:perspective(5em) rotateY(-0.5deg);
  }*/
  100% {
	transform:perspective(5em) rotateY(0deg);
  }
}

.btnntext{
	transition: 0.5s;
}

.btnntext:hover{
	transform: translate(0, -15px);
	cursor: pointer;
}

.projectdes{
	padding: 0;
	margin: 0;
    font-family: 'Inconsolata', monospace;
	font-size: 14px;
	line-height: 18px;
	transform: translate(-70px,143px);
	color: #050054;
}

.projectdes::after{
	content: "#service design #interior design";
	font-size: 12px;
}
